<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPicture">
	INSERT
	  INTO PICTURE
	VALUES
	(
	  SEQ_PICTURE.NEXTVAL
	, SYSDATE
	, 'N'
	, ?
	, ?
	, ?
	)
	</entry>
	<entry key="insertLicenseManager">
	INSERT
	  INTO LICENSE_MANAGE
	VALUES
	(
	  ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, SEQ_LMANAGER.NEXTVAL
	, SEQ_PICTURE.CURRVAL
	)
	</entry>
	<entry key="insertOwner">
	INSERT
	  INTO USER_TABLE
	  VALUES
	  (  
	    SEQ_USER.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , DEFAULT
	  , ?
	  , 'N'
	  , '2'
	  , 'N'
	  , NULL
	  , ?
	  )
	</entry>
	<entry key="insertStore">
	INSERT
	  INTO STORE_TABLE
	VALUES
	(
	  ?
	, ?
	, ?
	, ?
	, ?
	, SEQ_USER.CURRVAL
	, SEQ_LMANAGER.CURRVAL
	, SEQ_STORE.NEXTVAL
	, SEQ_PICTURE.CURRVAL
	, 'N'
	, SYSDATE
	, ?
	, ?
	)
	</entry>
	
	<entry key="selectAllMenuList">
	SELECT
       M.MENU_CODE
     , M.MENU_NAME
     , M.PRICE
     , M.MENU_EXP
     , M.SALES_YN
     , M.STORE_CODE
     , P.REVISED_NAME
     , P.ROUTE
 	 FROM MENU M
  	 JOIN PICTURE P ON (M.PICTURE_CODE = P.PICTURE_CODE)
 
	
	</entry>
	
</properties>