body {min-width: 1650px;}
body,html {margin: 0 auto;}
        
        /* ----------------------------------- */

#main button:hover{background-color: orange; color: black; font-weight: bolder;}

#main {width: 1650px; height:1000px; background-color: white; }

.eatselect { position: relative; width: 1440px; height: 50px; display: flex ; flex-direction: row; position: relative;
    left: 50px; top: 30px; margin: 0 auto;}

.bp { width: 100px; height: 30px; border-radius: 30px; background-color: aquamarine;
    font-size: 15px; font-weight: 600; color: white; text-align: center; line-height: 2; float: left; visibility: hidden;}

.or { width : 100px; height: 30px; border-radius: 30px; background-color: red;
    font-size: 15px; font-weight: 600; color: white; text-align: center; line-height: 2; visibility: hidden;
    margin-left: 10px; float: left;}

.menupan { text-align: center; margin: 0 auto;
    font-size: 50px; font-weight: 700; position : absolute; left: 0; right: 0; margin-top: 20px; margin-right: 520px;}

/* ----------------------------------- */
.section {float: right; width: 400px; height: 100%; margin-right: 50px;}
.section table{position: sticky; right: 200px; top: 260px; border-collapse: collapse; z-index: 1; }

.section caption {height: 50px; font-size: 20px; font-weight: 600;}

.section .allmenu {height: auto;}
.section .menuprice {height: auto;}

.section td{ width: 100px; height: 60px; text-align: center; font-size: 18px; background-color: cornsilk; border: 1px solid black;}

.section .emp { border: 1px solid white; background:none; height: 30px; border: none;}

.section .execute {border: none; background-color: red; color: white; font-size: 20px;
font-weight: 500;}
.section .button2 { width: 400px; height: 60px;text-align: center; line-height: 1.6; font-size: 25px; color: #fff; background-color : red; opacity: 88%;}


/* ----------------------------------- */

.allsection {position: relative; width: 1440px; height: 240px; top: 150px; left : 50px;}  

.section1 { width: 1000px; height: 250px;  margin-top: 20px;}

.pic {width: 200px; height: 200px; background-color: indigo; float: left; margin-left: 60px;}

.pic img {width: 200px; height: 200px;} 

.menu1 {float: left; margin-top: 90px; margin-left: 40px; font-size: 30px; font-weight: 400;}

.price1 {float: left; margin-top: 90px; margin-left: 10px; font-size: 30px; font-weight: 400;}

.damgi {float: right; width: 150px; height: 60px; background-color: red;text-align: center; font-size: 22px; color: white; line-height: 2.6; margin-top: 70px; border: none; }

.cancel {float: right; width: 150px; height: 60px; background-color:gray;text-align: center; font-size: 22px; color: white; line-height: 2.6; margin-top: 70px; margin-left: 20px; }

.section1 .menuTablecall_td { background-color: cyan; color: black;}

.section1 .menuTable_td {display: block;  background-color: cyan; color: black;}
.section1 .menuTable_td:hover {background-color:orangered ;color: white;}

.section2 { width: 1000px; height: 250px; background-color: grey; margin-top: 20px;}

/* -------------모달창----------- */

.bg {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 1;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap {display:none; position: fixed; width: 650px; z-index: 2; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap a:hover,.menuwrap a:active {text-decoration: none; color:black;}

.menuwrap .top {width: 650px; height: 80px; font-size: 50px; text-align: center; line-height: 1.5;}

.menuwrap .pict {width: 650px;height: 300px; background-color: crimson;}

.menuwrap .menuname { width: 650px; height: 60px; margin-top: 15px; text-align: center;
font-size: 30px;}

.menuwrap .section1 {margin-top: -25px; width: 650px; height: 50px; line-height: 2.5; font-size: 30px;}

.menuwrap .price { float: right; width: 210px; height: 70px;}

.menuwrap .about {height: 70px; text-align: center; line-height: 6; background-color: white; margin-top: 0px; margin-left: 205px;}

.menuwrap .section2 {width: 650px; height: 65px; line-height: 2.5; font-size: 30px; background: #fff; }

.menuwrap .section2 .spinner { margin-top: 10px;}

.menuwrap .section3 {width: 650px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff;}

.menuwrap .add {float: left; text-align: center; font-size: 30px;
   width: 325px; height: 60px; background-color: red; color: #fff; line-height: 2; margin-top: 5px;}

.menuwrap .order {float: right; font-size: 30px;
    text-align: center; width: 325px; height: 60px; background-color: green; color: #fff; line-height: 2; margin-top: 5px;}

#maketable { line-height: 3;}

  /* ------------------------------------------------   */

.bg2 {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 3;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap2 {display: none; position: fixed; width: 800px; height: auto; z-index: 4; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap2 a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap2 a:hover,.menuwrap a:active {text-decoration: none; color:black;}


.menuwrap2 .top {width: 800px; height: 80px; font-size: 50px; text-align: center;}

.menuwrap2 .pict {width: 800px;height: 300px; background-color: crimson;}

.menuwrap2 .menuname { width: 800px; height: 60px; margin: 0 auto; text-align: center;
font-size: 30px;}

.menuwrap2 .section1 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px;}

.menuwrap2 .price { float: right; width: 200px; height: 70px;}

.menuwrap2 .about {width: 800px; height: 100px; text-align: center; line-height: 10; background-color: white;}

.menuwrap2 .section2 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff; }

.menuwrap2 .section3 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff;}

.menuwrap2 .add {float: left; text-align: center; font-size: 30px;
   width: 400px; height: 70px; background-color: deeppink; color: #fff; line-height: 2.5; margin-top: 20px;}

.menuwrap2 .order {float: right;font-size: 30px;
    text-align: center; width: 400px; height: 70px; background-color:red; color: #fff; line-height: 2.5; margin-top: 20px;}

  /* ------------------------------------------------   */
  
.bg3 {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 5;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap3 {display: none; position: fixed; width: 800px; height: auto; z-index: 6; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap3 a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap3 a:hover,.menuwrap a:active {text-decoration: none; color:black;}

.menuwrap3 .top {width: 800px; height: 80px; font-size: 50px; text-align: center;}

.menuwrap3 .pict {width: 800px;height: 300px; background-color: crimson;}

.menuwrap3 .menuname { width: 800px; height: 60px; margin: 0 auto; text-align: center;
font-size: 30px;}

.menuwrap3 .section1 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px;}

.menuwrap3 .price { float: right; width: 200px; height: 70px;}

.menuwrap3 .about {width: 800px; height: 100px; text-align: center; line-height: 10; background-color: white;}

.menuwrap3 .section2 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff; }

.menuwrap input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}
.menuwrap2 input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}
.menuwrap3 input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}

.menuwrap3 .section3 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px ; background: #fff;}

.allprice { float: right; width: 200px; height: 70px; margin-right: 15px;}

.menuwrap3 .add {float: left; text-align: center; font-size: 30px;
   width: 400px; height: 70px; background-color: deeppink; color: #fff; line-height: 2.5; margin-top: 20px;}

.menuwrap3 .order {float: right;font-size: 30px;
    text-align: center; width: 400px; height: 70px; background-color:red; color: #fff; line-height: 2.5; margin-top: 20px;}









