html, body {
    height:100%;
    width: 100%;
 
    /* overflow: hidden; */
  }
  
.sidebar{
    margin-top: 30px;
    text-align: center; 
}

.sidebar li{
    /* padding-left: 10px; */
    margin-top: 7px;
    height: 40px;
    width: auto;
    background: #fff;
    border-radius: 8px;
    line-height: 40px;
}
/* .sidebar li a{

    color:black;
 
} */
.sidebar li.on{
    text-align: center;
    background-color: #3430E2;

}
.sidebar li.on{
    color: white;
}

.sidebar li a{
    font-weight:bolder;
}
