<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTotalCount">
		SELECT 
               COUNT(*)
          FROM ORDER_TABLE A
         
	</entry>
	
	<entry key="selectOrderList1">
        SELECT 
            A.RNUM,
		    A.ORDER_CODE,
		    A.USER_NAME,
		    A.STORE_NAME,
		    A.ORDER_TIME,
		    A.TOTAL_AMOUNT,
		    A.USER_PHONE,
		    A.USER_PHONE "StoPhone"
          FROM (SELECT ROWNUM RNUM,
                     		    B.ORDER_CODE,
                                B.USER_NAME,
                                B.STORE_NAME,
                                B.ORDER_TIME,
                                B.TOTAL_AMOUNT,
                                B.USER_PHONE,
                                B.USER_PHONE "StoPhone"
                  FROM (SELECT 		    C.ORDER_CODE,
                                        D.USER_NAME,
                                        E.STORE_NAME,
                                        C.ORDER_TIME,
                                        C.TOTAL_AMOUNT,
                                        D.USER_PHONE,
                                        F.USER_PHONE "StoPhone"
                                        FROM ORDER_TABLE C
                                        JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
                                        JOIN STORE_TABLE E ON(C.STORE_CODE = E.STORE_CODE)
                                        JOIN USER_TABLE F ON(E.USER_CODE = F.USER_CODE)
                                        ORDER BY C.ORDER_CODE DESC
                        ) B
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectCartList">
				SELECT
		    C.MENU_NAME,
		    C.PRICE
		    FROM ORDER_DETAIL A
		    JOIN BASKET B ON(A.CART_CODE = B.CART_CODE)
		    JOIN MENU C ON(B.MENU_CODE = C.MENU_CODE)
		    WHERE A.ORDER_CODE = ?
         
	</entry>
	
	<entry key="selectOrderDetail">
					SELECT
		    B.USER_NAME,
		    B.USER_PHONE,
		    B.USER_ADDRESS,
		    A.REQUEST,
		    C.STORE_NAME,
		    D.USER_PHONE "Stophone",
		    C.STORE_ADDR
		    FROM ORDER_TABLE A
		    JOIN USER_TABLE B ON (A.USER_CODE = B.USER_CODE)
		    JOIN STORE_TABLE C ON (A.STORE_CODE = C.STORE_CODE)
		    JOIN USER_TABLE D ON (C.USER_CODE = D.USER_CODE)
		    WHERE A.ORDER_CODE = ?
         
	</entry>
	
	<entry key="selectRoleCode">
		SELECT
			   A.ROLE_CODE
		  FROM USER_TABLE A
		 WHERE A.USER_ID = ?
	</entry>
	
	<entry key="selectEncryptedPwd">
		SELECT
			   A.USER_PWD
		  FROM USER_TABLE A
		 WHERE USER_ID = ? 
	</entry>
	
	<entry key="selectLoginMember">
		SELECT
		  	   A.USER_CODE
		     , A.USER_ID
		     , A.USER_PWD
		     , A.USER_NAME
		     , A.USER_PHONE
		     , A.USER_ADDRESS
		     , A.POINT
		     , A.USER_EMAIL
		     , A.WITHDRAW_YN
		     , A.ROLE_CODE
		     , A.BLACKLIST_YN
		     , A.BLACKLIST_DATE
		     , A.USER_NO
		  FROM USER_TABLE A
		 WHERE A.USER_ID = ?
		  
	</entry>
	
	
	<entry key="orderNoCount">
        SELECT
            COUNT(*)
            FROM ORDER_TABLE
            WHERE ORDER_CODE = ?
	</entry>
	
	<entry key="cusNameCount">
            COUNT(*)
            FROM ORDER_TABLE A
            JOIN USER_TABLE B ON(A.USER_CODE = B.USER_CODE)
            WHERE B.USER_NAME LIKE '%' || ? || '%' 
	</entry>
	
	<entry key="stoNameCount">
        SELECT
            COUNT(*)
            FROM ORDER_TABLE A
            JOIN STORE_TABLE B ON(A.STORE_CODE = B.STORE_CODE)
            WHERE B.STORE_NAME LIKE '%' || ? || '%' 
	</entry>
	
	
	
	
	<entry key="orderNoOrder">
        SELECT 
            A.RNUM,
		    A.ORDER_CODE,
		    A.USER_NAME,
		    A.STORE_NAME,
		    A.ORDER_TIME,
		    A.TOTAL_AMOUNT,
		    A.USER_PHONE,
		    A.USER_PHONE "StoPhone"
          FROM (SELECT ROWNUM RNUM,
                     		    B.ORDER_CODE,
                                B.USER_NAME,
                                B.STORE_NAME,
                                B.ORDER_TIME,
                                B.TOTAL_AMOUNT,
                                B.USER_PHONE,
                                B.USER_PHONE "StoPhone"
                  FROM (SELECT 		    C.ORDER_CODE,
                                        D.USER_NAME,
                                        E.STORE_NAME,
                                        C.ORDER_TIME,
                                        C.TOTAL_AMOUNT,
                                        D.USER_PHONE,
                                        F.USER_PHONE "StoPhone"
                                        FROM ORDER_TABLE C
                                        JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
                                        JOIN STORE_TABLE E ON(C.STORE_CODE = E.STORE_CODE)
                                        JOIN USER_TABLE F ON(E.USER_CODE = F.USER_CODE)
                                        ORDER BY C.ORDER_CODE DESC
                        ) B
                        
                        WHERE B.ORDER_CODE = ?
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="cusNameOrder">
        SELECT 
            A.RNUM,
		    A.ORDER_CODE,
		    A.USER_NAME,
		    A.STORE_NAME,
		    A.ORDER_TIME,
		    A.TOTAL_AMOUNT,
		    A.USER_PHONE,
		    A.USER_PHONE "StoPhone"
          FROM (SELECT ROWNUM RNUM,
                     		    B.ORDER_CODE,
                                B.USER_NAME,
                                B.STORE_NAME,
                                B.ORDER_TIME,
                                B.TOTAL_AMOUNT,
                                B.USER_PHONE,
                                B.USER_PHONE "StoPhone"
                  FROM (SELECT 		    C.ORDER_CODE,
                                        D.USER_NAME,
                                        E.STORE_NAME,
                                        C.ORDER_TIME,
                                        C.TOTAL_AMOUNT,
                                        D.USER_PHONE,
                                        F.USER_PHONE "StoPhone"
                                        FROM ORDER_TABLE C
                                        JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
                                        JOIN STORE_TABLE E ON(C.STORE_CODE = E.STORE_CODE)
                                        JOIN USER_TABLE F ON(E.USER_CODE = F.USER_CODE)
                                        ORDER BY C.ORDER_CODE DESC
                        ) B
                        
                        WHERE B.USER_NAME LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="stoNameOrder">
        SELECT 
            A.RNUM,
		    A.ORDER_CODE,
		    A.USER_NAME,
		    A.STORE_NAME,
		    A.ORDER_TIME,
		    A.TOTAL_AMOUNT,
		    A.USER_PHONE,
		    A.USER_PHONE "StoPhone"
          FROM (SELECT ROWNUM RNUM,
                     		    B.ORDER_CODE,
                                B.USER_NAME,
                                B.STORE_NAME,
                                B.ORDER_TIME,
                                B.TOTAL_AMOUNT,
                                B.USER_PHONE,
                                B.USER_PHONE "StoPhone"
                  FROM (SELECT 		    C.ORDER_CODE,
                                        D.USER_NAME,
                                        E.STORE_NAME,
                                        C.ORDER_TIME,
                                        C.TOTAL_AMOUNT,
                                        D.USER_PHONE,
                                        F.USER_PHONE "StoPhone"
                                        FROM ORDER_TABLE C
                                        JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
                                        JOIN STORE_TABLE E ON(C.STORE_CODE = E.STORE_CODE)
                                        JOIN USER_TABLE F ON(E.USER_CODE = F.USER_CODE)
                                        ORDER BY C.ORDER_CODE DESC
                        ) B
                        
                        WHERE B.STORE_NAME LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="ownerNumCount">
        SELECT
            COUNT(*)
            FROM STORE_TABLE
            WHERE USER_CODE = ?
	</entry>
	
	<entry key="bisiNumCount">
        SELECT
            COUNT(*)
            FROM STORE_TABLE
            WHERE OWNER_NO = ?
	</entry>
	
	<entry key="ownerNameCount">
        SELECT
            COUNT(*)
            FROM STORE_TABLE A
            JOIN USER_TABLE B ON(A.USER_CODE = B.USER_CODE)
            WHERE B.USER_NAME LIKE '%' || ? || '%' 
	</entry>
	<entry key="selectOwnerTotalCount">
	SELECT
	COUNT(*)
	FROM STORE_TABLE A 
	</entry>
	
	<entry key="selectOwnerList">
	SELECT
	A.RNUM,
	a.user_code,
	A.user_name,
	a.store_name,
	a.owner_no,
	a.store_addr,
	a.ENROLL_DATE,
	a.APPROVAL
			FROM (SELECT 
				ROWNUM RNUM,
				B.user_code,
				B.user_name,
				B.store_name,
				B.owner_no,
				B.store_addr,
				B.ENROLL_DATE,
				B.APPROVAL
					FROM(SELECT C.user_code,
						D.user_name,
						C.store_name,
						C.owner_no,
						C.store_addr,
						C.ENROLL_DATE,
						C.APPROVAL
						FROM STORE_TABLE C
						JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
						ORDER BY C.USER_CODE ASC
				)B
				
			)A
	WHERE A.RNUM BETWEEN ? AND ? </entry>
	
	
	<entry key="ownerNumSearch">
	SELECT
	A.RNUM,
	a.user_code,
	A.user_name,
	a.store_name,
	a.owner_no,
	a.store_addr,
	a.ENROLL_DATE,
	a.APPROVAL
			FROM (SELECT 
				ROWNUM RNUM,
				B.user_code,
				B.user_name,
				B.store_name,
				B.owner_no,
				B.store_addr,
				B.ENROLL_DATE,
				B.APPROVAL
					FROM(SELECT C.user_code,
						D.user_name,
						C.store_name,
						C.owner_no,
						C.store_addr,
						C.ENROLL_DATE,
						C.APPROVAL
						FROM STORE_TABLE C
						JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
						ORDER BY C.USER_CODE ASC
				)B
				WHERE B.USER_CODE = ?
			)A
	WHERE A.RNUM BETWEEN ? AND ? </entry>
	
	
	<entry key="bisiNumSearch">
	SELECT
	A.RNUM,
	a.user_code,
	A.user_name,
	a.store_name,
	a.owner_no,
	a.store_addr,
	a.ENROLL_DATE,
	a.APPROVAL
			FROM (SELECT 
				ROWNUM RNUM,
				B.user_code,
				B.user_name,
				B.store_name,
				B.owner_no,
				B.store_addr,
				B.ENROLL_DATE,
				B.APPROVAL
					FROM(SELECT C.user_code,
						D.user_name,
						C.store_name,
						C.owner_no,
						C.store_addr,
						C.ENROLL_DATE,
						C.APPROVAL
						FROM STORE_TABLE C
						JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
						ORDER BY C.USER_CODE ASC
				)B
				WHERE B.OWNER_NO = ?
			)A
	WHERE A.RNUM BETWEEN ? AND ? </entry>
	
	<entry key="ownerNameSearch">
	SELECT
	A.RNUM,
	a.user_code,
	A.user_name,
	a.store_name,
	a.owner_no,
	a.store_addr,
	a.ENROLL_DATE,
	a.APPROVAL
			FROM (SELECT 
				ROWNUM RNUM,
				B.user_code,
				B.user_name,
				B.store_name,
				B.owner_no,
				B.store_addr,
				B.ENROLL_DATE,
				B.APPROVAL
					FROM(SELECT C.user_code,
						D.user_name,
						C.store_name,
						C.owner_no,
						C.store_addr,
						C.ENROLL_DATE,
						C.APPROVAL
						FROM STORE_TABLE C
						JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
						ORDER BY C.USER_CODE ASC
				)B
				WHERE B.USER_NAME LIKE '%' || ? || '%'
			)A
	WHERE A.RNUM BETWEEN ? AND ? </entry>
	
	
	
	<entry key="selectOwnerDetail">
	    SELECT 
        A.OWNER_NO,
        A.STORE_NAME,
        A.STORE_CODE,
        A.CATEGORY,
        A.STORE_ADDR,
        B.USER_PHONE,
        C.TYPE_NAME
    FROM STORE_TABLE A
    JOIN USER_TABLE B ON(A.USER_CODE = B.USER_CODE)
    JOIN TYPE_LIST C ON(A.TYPE_CODE = C.TYPE_CODE)
    WHERE A.STORE_CODE = ?
	</entry>
	
	
</properties>
