<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTotalCount">
		SELECT 
               COUNT(*)
          FROM ORDER_TABLE A
         
	</entry>
	
	<entry key="selectOrderList1">
        SELECT 
            A.RNUM,
		    A.ORDER_CODE,
		    A.USER_NAME,
		    A.STORE_NAME,
		    A.ORDER_TIME,
		    A.TOTAL_AMOUNT,
		    A.USER_PHONE,
		    A.USER_PHONE "StoPhone"
          FROM (SELECT ROWNUM RNUM,
                     		    B.ORDER_CODE,
                                B.USER_NAME,
                                B.STORE_NAME,
                                B.ORDER_TIME,
                                B.TOTAL_AMOUNT,
                                B.USER_PHONE,
                                B.USER_PHONE "StoPhone"
                  FROM (SELECT 		    C.ORDER_CODE,
                                        D.USER_NAME,
                                        E.STORE_NAME,
                                        C.ORDER_TIME,
                                        C.TOTAL_AMOUNT,
                                        D.USER_PHONE,
                                        F.USER_PHONE "StoPhone"
                                        FROM ORDER_TABLE C
                                        JOIN USER_TABLE D ON(C.USER_CODE = D.USER_CODE)
                                        JOIN STORE_TABLE E ON(C.STORE_CODE = E.STORE_CODE)
                                        JOIN USER_TABLE F ON(E.USER_CODE = F.USER_CODE)
                                        ORDER BY C.ORDER_CODE DESC
                        ) B
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
</properties>
